body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2; /* Light grey background for the whole page */
}

.app {
  text-align: center;
  max-width: 600px; /* Increased max-width for a larger container */
  width: 90%; /* Ensure responsiveness */
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px; /* Increased padding for more spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f2f2fc; /* Light purple background */
}

h1 {
  color: #a333c8; /* Purple color for title */
  margin-bottom: 30px; /* Increased margin-bottom */
}

.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
}

.todo-input {
  padding: 12px; 
  width: 70%;
  margin-right: 10px;
  border: 1px solid #d4d4d5;
  border-radius: 4px;
  font-size: 18px; 
}

.add-button {
  padding: 12px; 
  background-color: #a333c8; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #7a2496; 
}

.filters {
  margin-bottom: 30px; 
}

.filters button {
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #ddd;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; 
  border-bottom: 1px solid #d4d4d5;
  background-color: #ffffff; 
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li.completed .task-text {
  text-decoration: line-through;
  color: #888;
}

.task-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-text {
  flex-grow: 1;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.delete-button, .complete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.complete-button {
  background-color: #6b5b95; 
  color: #fff;
}

.complete-button:hover {
  background-color: #5a4b7b;
}

.delete-button {
  background-color: #ff6f61; 
  color: #fff;
}

.delete-button:hover {
  background-color: #cc574d; 
}
